p{
	text-indent: 15px;
}
.priuk{
	width: 100%;
	/*border:1px solid red;*/
	height: 150vh;
	display: flex;
}
.header{
	padding-top: 2%;
	padding-bottom: 3%;
	text-align: center;
	background-image: url("f4.jpg");
    background-repeat: repeat-x;

}

	.sjhtml{
	padding-top:2%; 
	/*border :2px solid red;*/
	background-color: lightblue;
	padding-bottom: 1cm;
	-webkit-border-radius: 1em;
	padding-right: 10%;
	padding-left: 10%;
	box-shadow: 10px 10px 5px #888888;
	/*background-image: url("html-image-tag-HD4.jpg");*/
	/*-webkit-column-count:3;
	-webkit-column-gap:40px;
	-webkit-column-rule-style:outset;
	-webkit-column-rule-color:red;*/
	float: left;
	width: 50%;

	}

	.sjcss{
	margin-top:-1px; 
	/*padding-top:1%;*/
	background-color: coral;
	/*border:2px solid red;*/
	padding-bottom: 2px;
	-webkit-border-radius: 1em;
	padding-right: 10%;
	padding-left: 10%;
	box-shadow: 10px 10px 5px #888888;
	/*background-image: url("CSS3.jpg");*/
	/*background-repeat: no-repeat;*/
	/*-webkit-column-count:3;
	-webkit-column-gap:40px;
	-webkit-column-rule-style:outset;
	-webkit-column-rule-color:red;*/
	float: right;
	width: 50%;
	}
.footer{
	padding-top: 4%;
	padding-bottom: 4%;
	background-image: url("f4.jpg");
	text-align: center;
}
